body{
    font-family: arial,sans-serif;
    
    
}




h1{
    color: #05111f;   
 margin-bottom: 0px;
     line-height: 28px;
    font-weight:100px;
    font-size: 24px;
}
ul{
    margin:0;
    padding:0;
}
li::first-letter{
    text-transform: capitalize;
}
li{
    list-style: none;
    
    margin:0;
    padding:0;
    font: size 16px;font-weight: 100px;
    line-height: 19px;
}
.weather-app-wrapper{
    max-width: 600px;
    margin:30px auto;
}
.weather-app{
    background-color:#8DBCE1;
  padding:20px;
    border:1px solid #005783;
    border-radius: 8px;}
.overview{
    margin-bottom: 20px;
}
.weather-temperature img{
margin-right:3px;
height:64px;
width:64px;
}
.weather-temperature strong{
    color:rgb(101, 24, 24);
    font-size:40px;
    font-weight:300;
   

}
.weather-temperature small{
    position:relative;
    font-size:16px;
    top:10px;
   
}